<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6nzeB1Ce4RnvdnvhiAR_xXU4sQBKi0_E</string>
	<key>GCM_SENDER_ID</key>
	<string>536092486173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>rakshak-money-mangager</string>
	<key>STORAGE_BUCKET</key>
	<string>rakshak-money-mangager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536092486173:ios:a32c1fc68d65b7fd4ab4f4</string>
	<key>DATABASE_URL</key>
	<string>https://rakshak-money-mangager-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>